

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0;
}

body {
    margin: auto;
    padding: 0;
    background-color: #ffffff;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
}

.container {
    width: 1140px;
}

.clear {
    clear:both;
}

.header {
    padding: 10px;
}

.logo {
    width: 30%;
    float: left;
}

.menu {
    width: 70%;
    float: left;
    overflow: hidden;
}

.menu a {
    float:left;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #afafaf;
    margin-top: 25px;
  	border-radius: 5px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color :#fff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin-top: 25px!important;
    border-radius: 5px;
    background-color: #afafaf;
}

.menu a:hover, .dropdown:hover .dropbtn {
    background-color: #2bccc4;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    text-decoration: none;
    color: #000;
    display: block;
    text-align: left;
    padding: 14px 16px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.inspiration_header {
  	text-align: center;
  	color: #262626;
}

.references_header {
  	text-align: center;
}

.references {
  	border-radius: 5px;
    text-align: center;
  	vertical-align: middle;
}